
extends baseEmail

block content
  p Dear #{username},
  p We are excited to inform you that your valuable NFT collection is now safeguarded by our comprehensive insurance coverage. Six of your NFTs have been successfully insured by our company to ensure their protection and provide you with peace of mind.
  p Here are the details of the NFTs that have been insured:
  ul
    li NFT Title: Snowybeardman.
    li Insurance Policy Number: 23768
    p
    li NFT Title: Mushroom family.
    li Insurance Policy Number: 34567
    p
    li NFT Title: Mushroom castle vol2.
    li Insurance Policy Number: 31609
    p
    li NFT Title: Last breath.
    li Insurance Policy Number: 37658
    p
    li NFT Title: Mushroom castle.
    li Insurance Policy Number: 36183
    p
    li NFT Title: Mushroom.
    li Insurance Policy Number: 26781

  p Our company is dedicated to protecting your digital assets and ensuring their security against unforeseen events. In the event of loss, theft, or damage to any of the insured NFTs, you can rest assured that our insurance coverage will provide you with the necessary support and compensation.
  p If you have any questions about your insurance coverage or need further assistance, please don't hesitate to reach out to our customer support team at offficial@artcity.site . We are here to assist you and provide you with the information you need.
  p Thank you for choosing our company to protect your NFT investments. We look forward to serving you and keeping your NFTs safe for years to come.
  p Sincerely,

  p artcity
  p official@artcity.site
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  p










