extends baseEmail

block content
  p Dear #{username},
  p I hope this message finds you well. I wanted to address the recent withdrawal request you submitted to us and provide some clarification regarding its status.
  P We understand your need to access your funds; however, there is a pending matter related to the company's sales commission that needs to be resolved before we can process your withdrawal request. We have not received the necessary payment for the company's sales commission, which has resulted in a temporary hold on withdrawal requests.
  P We kindly request your prompt attention to this matter by remitting the outstanding sales commission payment as soon as possible. Once the commission payment is received and processed, your withdrawal request will be promptly fulfilled. We aim to provide you with the best service and support, and resolving this issue will help us do just that.
  p If you have any questions or require further details about the outstanding commission, please do not hesitate to contact our customer support team. We are here to assist you in any way we can.
  p We appreciate your understanding and cooperation in this matter. Thank you for choosing our services, and we look forward to a swift resolution and the continued success of our partnership.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  p
//- ////////////////////


//- Dear Pixxi Arts,

//- I hope this message finds you well. I wanted to address the recent withdrawal request you submitted to us and provide some clarification regarding its status.

//- We understand your need to access your funds; however, there is a pending matter related to the company's sales commission that needs to be resolved before we can process your withdrawal request. We have not received the necessary payment for the company's sales commission, which has resulted in a temporary hold on withdrawal requests.

//- We kindly request your prompt attention to this matter by remitting the outstanding sales commission payment as soon as possible. Once the commission payment is received and processed, your withdrawal request will be promptly fulfilled. We aim to provide you with the best service and support, and resolving this issue will help us do just that.

//- If you have any questions or require further details about the outstanding commission, please do not hesitate to contact our customer support team. We are here to assist you in any way we can.

//- We appreciate your understanding and cooperation in this matter. Thank you for choosing our services, and we look forward to a swift resolution and the continued success of our partnership.
