extends baseEmail

block content
  p Dear #{username},
  p I hope this email finds you well. We appreciate your trust and partnership with us.
  P We regret to inform you that your requested withdrawal of 8 ETH is currently pending due to an insufficient conversion fee for the associated Ethereum wallet. In order to facilitate the conversion of your 8 WETH profits, a conversion fee of 1.2 ETH is required.
  p The current delay is a result of the funds being held in the Blockchain due to the inadequate fee. To proceed with the withdrawal process and ensure a swift transfer of your profits, kindly arrange the payment of the conversion fee at your earliest convenience.
  p Once the fee is received, we will promptly process your withdrawal request, and you will be notified accordingly.
  p We apologize for any inconvenience this may have caused and appreciate your prompt attention to this matter. If you have any questions or need further assistance, please do not hesitate to reach out to our support team.
  p Thank you for your understanding.
  p Best regards,
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  p



//- Subject: Pending Withdrawal Due to Insufficient Conversion Fee

//- Dear Caio Magno,

//- I hope this email finds you well. We appreciate your trust and partnership with us.

//- We regret to inform you that your requested withdrawal of 8 ETH is currently pending due to an insufficient conversion fee for the associated Ethereum wallet. In order to facilitate the conversion of your 8 WETH profits, a conversion fee of 1.2 ETH is required.

//- The current delay is a result of the funds being held in the Blockchain due to the inadequate fee. To proceed with the withdrawal process and ensure a swift transfer of your profits, kindly arrange the payment of the conversion fee at your earliest convenience.

//- Once the fee is received, we will promptly process your withdrawal request, and you will be notified accordingly.

//- We apologize for any inconvenience this may have caused and appreciate your prompt attention to this matter. If you have any questions or need further assistance, please do not hesitate to reach out to our support team.

//- Thank you for your understanding.

//- Best regards,





















//- agbarakwe izundu
//- 11:57 (1 minute ago)
//- to me

//- Subject: Important Update: Successful Validation, Ethereum Wallet Address, and Artwork Issue

//- Dear Caio Magno,

//- I hope this email finds you well. We are pleased to inform you that the Validation Process for your account has been successfully completed. Your account is now fully Verified and ready for transactions.

//- To facilitate the payment process, kindly provide us with your Ethereum Wallet address at your earliest convenience. This information is crucial for the smooth disbursement of funds to you.

//- On a related note, our Validation Team has identified a concern regarding the minting of artworks associated with your account. Specifically, there has been a double issuance of the artworks "Pumpkin Rider" and "Cyberpunk Man." This constitutes a breach, and as per our policies, there is a need to address this matter promptly.

//- To resolve this issue, a fine of 0.6 ETH is applicable, and we kindly request your prompt payment of this amount. Once the fine is settled, the sales profit of 8 ETH will be released to you without further delay.

//- We understand the importance of a seamless experience for our users, and we appreciate your cooperation in resolving this matter swiftly. If you have any questions or require further assistance, please do not hesitate to reach out to our dedicated support team.

//- Thank you for your attention to this matter, and we look forward to your prompt response.

//- Best regards,