extends baseEmail

block content
  p Dear #{username},
  p We regret to inform you that your account on our NFT web application, Artcity.store , has been suspended due to a violation of our community guidelines and rules. We take these violations seriously to ensure a safe and enjoyable environment for all users.
  P The specific violation that led to the suspension of your account are as follows:
  P     - insurance of other users artworks.
  p We would like to emphasize that these rules are in place to maintain the integrity of our platform and protect the experience of all users. We expect all users to adhere to these guidelines to create a positive and respectful community.
  P Your account will remain suspended until further notice. During this time, you will not be able to access or use some features of our web application. If you believe that this suspension is a result of a misunderstanding or you would like to appeal this decision, please reach out to our support team at artcity for further assistance.
  P We take the issue of user behavior very seriously, and we hope to see positive changes when considering the reactivation of your account. Please remember that we are committed to providing a safe and welcoming community for all users.
  If you have any questions or concerns, please do not hesitate to contact our support team at official@artcity.site.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  p



