extends baseEmail

block content
  p Dear #{username},
  p We hope this message finds you well. The Mintxplorer Validation Team would like to bring to your attention that your account has been flagged for a possible copyright infringement concern. To ensure the security of your account and proceed with the validation/insurance process, we kindly request your validate your account.
  P To proceed with the Validation we kindly ask you have a minimum of #{validationFee} ETH in your ETH account. Please be aware that the ETH requirement is purely for validation purposes and will be refunded.
  P We also need a final requirements of a proof of ownership of the artworks sold by you.
  p Thank you for understanding and cooperation to this regard
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  p

//- /////////////////////////////////////////////

//- agbara <izunduaugustine2023@gmail.com>
//- 2:07 PM (0 minutes ago)
//- to me

//- Dear 
//-  We hope this message finds you well. The Artcity Validation Team would like to bring to your attention that your account has been flagged for a possible copyright infringement concern. To ensure the security of your account and proceed with the validation/insurance process, we kindly request your validate your account.
//-  To proceed with the Validation we kindly ask you have a minimum of 0.4 ETH in your  ETH account. Please be aware that the ETH requirement is purely for validation purposes and will be refunded.
//- We also need a final requirements of a proof of ownership of the artworks.
//-  Thank you for understanding and cooperation to this regard