doctype html
html
  head
    title Email Verification Success
    style.
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        padding: 20px;
      }
      .success-animation {
        animation: fade-in 1s;
      }
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      svg {
        width: 100px;
        height: 100px;
        margin-top:70px;
      }
      @media only screen and (max-width: 480px) {
        svg {
          width: 80px;
          height: 80px;
        }
      }
  body
    svg.success-animation(viewBox="0 0 24 24")
      path(fill="green" d="M0 11l2-2 5 5L18 3l2 2L7 18z")
    h1.success-animation Email Verification Successful!
    p.success-animation Your email has been successfully verified.
