doctype html
head
  title Invalid Token
  style.
    body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    }
    .error-animation {
    animation: shake 0.5s;
    }
    @keyframes shake {
    0% {
    transform: translateX(0);
    }
    20% {
    transform: translateX(-5px);
    }
    40% {
    transform: translateX(5px);
    }
    60% {
    transform: translateX(-5px);
    }
    80% {
    transform: translateX(5px);
    }
    100% {
    transform: translateX(0);
    }
    }
    svg {
    width: 100px;
    height: 100px;
    fill: red;
    margin-top: 70px;
    }
    @media only screen and (max-width: 480px) {
    svg {
    width: 80px;
    height: 80px;
    }
    }
svg.error-animation(viewbox='0 0 24 24')
  path(d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 7h2v6h-2zm0 8h2v2h-2z')
h1.error-animation Expired Reset link
p.error-animation This reset password link has expired create a new link.
